body {
  background-color: #FAF5E6;
}

.panel-body {
background:#F0FFFF;
}

.total-text {
  color: Black;
}

.surplus-text {
  color: Green;
}

.deficit-text {
  color: Red;
}

.balanced-text {
  color: #CCA300;  
}

.panel-default>.panel-heading {
  .background-color: #C7DCB0;
}
